body {
  /*if possible, make gradient have min width of container (1024px)*/
  background: linear-gradient(to right, #FFE572, #FFE572 , #FFFCCF, #FFFCCF);
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue' 'Ariel' sans-serif;
}
#container {
  width: 1024px;
  margin: auto;
  text-align: center;
  background-color: #FFFCCF;
}
h1 {
  /*font-family: Copperplate, 'Copperplate Gothic Light', fantasy;*/
  font-size: 40px;
  /*font-variant: small-caps;*/
  /*font-weight: bold;*/
}
h2 {
  font-size: 24px;
  /*font-weight: bold;*/
  /*font-variant: small-caps;*/
}
h3 {
  margin: 0;
  color: #800000;
}
li {
  list-style: none;
}
img {
  margin-top: 2px;
  margin-bottom: 4px;
  vertical-align: middle;
  border: 2px solid #800000;
  max-width: 195px;
  /*max-width: 200px;*/
}
.oneSide {
  max-width: 400px;
}
.readMore {
  padding-top: 15px;
  font-weight: bold;
}
.hide {
  display: none;
}
em {
  font-size: 120%;
}
a:hover {
  /*text-shadow: 1px 1px;*/
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
a.red {
  color: #800000;
}
.bold {
  color: #800000;
  padding-left: 18px;
}
.Bar > div {
  display: inline-block;
}
.Bar {
  border-left: solid black 3px;
  /*box-shadow: -5px 0 5px;*/
  position: relative;
}
div.barText {
  display: inline-block;
  vertical-align: top;
  /*position: absolute;*/
  margin: auto;
  padding: 0 40px 15px 40px;
  width: 526px;
  /*width: 530px;*/
}
.barText ul {
	padding: 0;
}
div.image {
  display: inline-block;
  width: 201px;
  /*position: absolute;*/
  vertical-align: middle;
}
.image img {
  margin-bottom: 80px;
}
.image img:last-child {
  margin-bottom: 4px;
}
.title {
  color: #800000;
  font-weight: bold;
  font-size: 17px;
}
#header {
  background: #fcf9ce url('PH_header.jpg') no-repeat top;
  background-size: 1024px auto;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 300px;
}
#container > div:nth-child(2n+1) {
  /*background-color: #fcf9ce;*/
}
#container > div:nth-child(2n) {
  background-color: white;
  /*box-shadow: 5px 0 5px;*/
}
/*menu bar*/
#container > div:nth-child(2) {
  background-color: #ddeeaa;
  border: solid black 3px;
  border-left: none;
  text-align: center;
  /*font-family: Copperplate, 'Copperplate Gothic Light', fantasy;*/
  font-size: 18px;
  /*font-weight: bold;*/
}
/*footer bar*/
#container > div:last-child {
  background-color: #ddeeaa;
  border: solid black 3px;
  border-left: none;
  text-align: center;
  padding: 5px;
  margin: 0;
  /*box-shadow: 5px 1px 5px;*/
}
span {
  margin: 0;
  padding: 0;
  display: block;
}
#menuBar ul {
  padding: 5px 18px 5px 0;
  margin: 0;
}
#menuBar li {
  /*padding-left: 1em;*/
  padding-left: 2em;
  display: inline;
}
